<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MATERIAL</title>
  </head>
  <body>
    <form (ngSubmit)="onSubmit()">
      <label>Fecha_Venta</label>
      <input name="fecha_venta" value="" type="text" />
      <label>Cantidad</label>
      <input name="cantidad" value="" type="text" />
      <label>Id_Sucursal</label>
      <input name="id_sucursal" value="" type="text" />
      <button type="submit">Guardar</button>
      <button type="submit">Modificar</button>
      <button type="submit">Eliminar</button>
      <button type="submit">Salir</button>
    </form> 

  </body>
</html>
